@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #051017;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  background-color: rgb(0, 255, 47);
  transition: background-color 0.6s, color 1s;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  z-index: -1;
  background-color: #051017;
}

.btn:hover::after {
  height: 100vh;
}